{% extends "layout.twig" %}

{% block title %}Cart recap {% endblock %}

{% block current_page_title %}Product {{ product.name }}{% endblock %}

{% block content %}

<div class="mt-4 alert {%  if  status  %} alert-success {% else %} alert-danger{% endif %}">
    {{ message }}
</div>
    <div class="col-md-12">
        <a href="/products/list">Back to list</a>
    </div>
{% endblock %}